<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configurações de Conexão com o Banco de Dados -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/seubanco</property>
        <property name="hibernate.connection.username">seu_usuario</property>
        <property name="hibernate.connection.password">sua_senha</property>
        
        <!-- Configurações do Dialeto SQL para o PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Mostrar SQL gerado (útil para depuração) -->
        <property name="hibernate.show_sql">true</property>
        
        <!-- Atualização do esquema do banco de dados automaticamente -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeamento das classes de entidade -->
        <mapping class="com.example.Entidade1"/>
        <mapping class="com.example.Entidade2"/>
        <!-- Adicione mais mapeamentos, se necessário -->

    </session-factory>
</hibernate-configuration>
